<div class="row-fluid">
  <%= form_for (@post), html: {:class => "form-horizontal"} do |f| %>

  <div class="col-md-6 col-md-offset-3">
    <% if @post.errors.any? %>
      <div class="bg-warning">
        This form has <%=pluralize(@post.errors.count, "error") %>.
      </div>
      <ul class="text-left">
        <% @post.errors.full_messages.each do |msg| %>
          <li>* <%= msg %> </li>
        <% end %>
      </ul>
    <% end %>

    <fieldset>
      <legend> New post </legend>

      <div class="control-group">
        <%= f.label :title, "Title" %>
        <div class="controls">
          <%= f.text_field :title %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :content, 'Post Body' %>
        <div class="controls">
          <%= f.text_area :content %>
        </div>
      </div>
      <br>

      <div class="control-group">
        <%= f.label :embed_code, "Embed Media (youtube, soundcloud, bandcamp)" %>
        <div class="controls">
          <%= f.text_field :embed_code %>
        </div>
      </div>
      <br>

      <div class="control-group">
        <%= f.label :category, "Post type" %>
        <div class="controls">
          <%= f.collection_radio_buttons(
              :category, [['Lesson', 'Lesson'],['Music', 'Music']], :first, :last) %>
        </div>
      </div>
      <br>

      <div class="control-group">
        <%= f.label :all_tags, "tags (separate with comma)" %>
        <div class="controls">
          <%= f.text_field :all_tags %>
        </div>
      </div>
      <br>

      <div class="form-actions">
        <%= f.submit "Create post!", class: "btn btn-large btn-primary" %>
      </div>

    </fieldset>
  </div>
  <% end %>
</div>
